/*global variables*/

:root {
    --main-color: #e7e7e7;
    --main-color-dark: #6f6f6f;
    --secondary-color: #9fd18b;
    --secondary-color-dark: #6d8f5f;
    --tertiary-color: #ff6f61;
    --tertiary-color-dark: #642b26;
    --shadow-standard: 2px 2px 6px black;
}

/*global media queries*/

@media (min-width: 600px) {
    /*TODO: Add media query for screens larger than 600px*/
}

/*global styles*/

* {
    font-family: "Poor Richard", serif;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
}

/*global classes*/

.cabin-sketch-regular {
    font-family: "Cabin Sketch", serif;
    font-weight: 700;
    font-style: normal;
} 

.rounded-card {
    background: radial-gradient(circle, var(--main-color) 0%, var(--main-color-dark) 200%);
    border: 2px solid var(--main-color-dark);
    border-radius: 20px;
    padding: 0.5rem 0.5rem;
    margin: 0rem 0rem 0.5rem 0rem;
    box-shadow: var(--shadow-standard);
}

.search-results {
    margin: 1rem 0rem;
}

.divider {
    border: 2px dashed var(--tertiary-color-dark);
    margin: 2rem auto 1rem auto;
    width: 90%;
}

/*global ids*/

subtitle {
    font-size: 1.8rem;
    margin: 1rem auto;
}

img.feature-icon {
    width: 120px;
    height: auto;
    margin: 1rem auto 0rem auto;
}

img#logo {
    width: 60%;
    height: auto;
    max-width: 400px;
}

body {
    background: linear-gradient(to bottom, var(--secondary-color) 0%, var(--secondary-color-dark) 100%);
    border: 4px solid var(--tertiary-color-dark);
    padding: 0.5rem 0rem 0rem 0rem;
}

header {
    margin: 0rem auto;
    max-width: 400px;
}

main {
    max-width: 400px;
    margin: 0.5rem auto 0rem auto;
}

form#search-form {
    width: 100%;
    margin: 0rem 0rem 1rem 0rem;
}

input#ingredients {
    appearance: none;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 1rem 0rem;
    border: 2px solid black;
    border-radius: 20px;
}

button#search-button {
    font-size: 1.6rem;
    font-weight: bodler;

    width: 100%;
    height: auto;
    padding: 0.5rem;

    background-color: var(--tertiary-color);
    border-radius: 20px;
    box-shadow: var(--shadow-standard);

    cursor: pointer;
}

ul#recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
}

ul#recipes-list h3 {
    font-weight: 400;
    text-shadow: 0px 0px 4px white;
}

ul#recipes-list li {
    background: radial-gradient(circle, var(--secondary-color-dark) 0%, var(--secondary-color) 100%);
    box-shadow: var(--shadow-standard);
    margin: 0.5rem 0rem;
    padding: 0.5rem;
    border-radius: 20px;
    width: 100%;
    max-width: auto;
    transition: animation color-fade;
}

ul#recipes-list li:hover {
    animation: color-fade 2s ease-in-out infinite;
}

@keyframes color-fade {
    0% {
        background: var(--secondary-color-dark);
    }
    50% {
        background: var(--secondary-color);
    }
    100% {
        background: var(--secondary-color-dark);
    }
}

ul#recipes-list li p {
    color: var(--main-color-dark);
}

section.image-box {
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}

section.image-box img {
    width: 100%;
    height: auto;
    margin: auto;
    object-fit: cover;
    transform: scale(1.1);
    
}



footer {
    margin: 0rem auto;
    max-width: 400px;
}

h1, h2, h3, h4, h5 {
    margin: 0.5rem 0rem;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 1rem;
}

p {
    line-height: 30px;
    margin: 0.5rem 0.5rem;
}


